<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wego.dao.UserskinMapper" >
  <resultMap id="BaseResultMap" type="com.wego.entity.Userskin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userskin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wego.entity.Userskin" >
    insert into userskin (id, uid, sid, 
      state)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wego.entity.Userskin" >
    update userskin
    set uid = #{uid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, uid, sid, state
    from userskin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, uid, sid, state
    from userskin
  </select>
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from userskin where uid=#{uid} and state=0
  </select>

  <select id="selectByUidSid" resultType="com.wego.entity.Userskin" parameterType="java.lang.Integer">
    select * from userskin where uid=#{uid} and sid=#{sid}
  </select>
</mapper>